body {
  width: 320px;
  margin: 0 auto;
}

ul {
  list-style: none;
  display: flex;
  width: 25rem;
  justify-content: space-between;
  align-items: center;
} 

a {
  text-decoration: none;
  color: salmon;
  font-weight: bold;
  font-size: 1.3rem;
}

